<div>
	<h2 align="center">Sales Taxes</h2>
	<h4 align="center"><%= "Order # #{@order.order_number}" %></h2>
	<table class="table table-striped table-bordred">
	  <thead>
	    <tr>
	      <th>Order Item</th>
	      <th>Cost</th>
	      <th>Sale Tax</th>
	      <th>Import Tax</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @order.order_items.each do |order_item| %>
	      <tr>
	        <td><%= order_item.item_name %></td>
	        <td><%= order_item.cost %></td>
	        <td><%= order_item.sale_tax %></td>
	        <td><%= order_item.import_tax %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<p>
	  <strong>Total Cost:</strong>
	  <%= @order.cost_total.to_f.round(3) %>
	</p>
	<p>
	  <strong>Total Sales Tax:</strong>
	  <%= @order.sale_tax_total.to_f.round(3) %>
	</p>
</div>

<style type="text/css">
	table tr td { border: 1px solid #ccc; }
	table { width: 100%; }
</style>