<!DOCTYPE html>
<html>
<head>
  <title>Sales Taxes</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: 'layouts/header' if current_user %>
	<div class="container">
    <br><br>
	  <%= render partial: 'layouts/flash_messages', flash: flash %> 
	  <%= yield %>
	</div>
</body>
</html>